{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    {{ thread.title }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/thread.css' %}">
    <link rel="stylesheet" href="{% static 'css/thread_images.css' %}">
{% endblock %}

{% block content %}
    {% include 'threads/thread_detail_header.html' with thread=thread %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header">Comments</h2>
                <section id="commentSection"
                         total-comment="{{ comment_list | length }}"
                         class="comment-list">
                    <!-- First Comment -->
                    {% for comment in comment_list %}
                        <article class="row card">
                            <div class="col-md-2 col-sm-2 hidden-xs">
                                <figure class="thumbnail">
                                    <img class="img-responsive"
                                         src="{{ comment.author.profile_pic.url }}"/>
                                    <figcaption
                                        class="text-center">{{ comment.author }}
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-md-10 col-sm-10">
                                <div class="panel panel-default arrow left">
                                    <div class="panel-body">
                                        <header class="text-left">
                                            <div class="comment-user"><i
                                                class="fa fa-user"></i>
                                            </div>
                                            <time class="comment-date"
                                                  datetime="16-12-2014 01:05">
                                                <i
                                                    class="fa fa-clock-o"></i>
                                                {{ comment.created_date }}
                                            </time>
                                            <hr/>
                                        </header>
                                        <div class="comment-post">
                                            <p>
                                                {{ comment.content|safe |linebreaksbr }}
                                            </p>
                                        </div>
                                        {% if user.is_superuser %}
                                            {% if user.is_superuser or comment.author == user %}
                                                <p class="text-right">
                                                <a
                                                    id="btnDeleteComment-{{ forloop.counter }}"
                                                    delete-url="{{ comment.get_delete_api_url }}"
                                                    csrf-token="{{ csrf_token }}"
                                                    href="#"
                                                    class="btn btn-danger btn-sm">
                                                    Delete
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </article>
                        </section>
                    {% empty %}
                    {% endfor %}
                <div class="row pull-right" style="margin-right: 24px;">
                    {% if comment_list.has_other_pages %}
                        <ul class="pagination">
                            {% if comment_list.has_previous %}
                                <li><a
                                    href="?page={{ comment_list.previous_page_number }}">&laquo;</a>
                                </li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in comment_list.paginator.page_range %}
                                {% if comment_list.number == i %}
                                    <li class="active"><span>{{ i }} <span
                                        class="sr-only">(current)</span></span>
                                    </li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if comment_list.has_next %}
                                <li><a
                                    href="?page={{ comment_list.next_page_number }}">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include 'reply-thread-modal.html' with thread=thread %}
    {% include 'delete-confirm-modal.html' %}
{% endblock %}

{% block script %}
    <script src="{% static 'js/thread_detail_delete.js' %}"></script>
    <script src="{% static 'js/thread_images.js' %}"></script>
    <script src="{% static 'js/thread_reply.js' %}"></script>
{% endblock %}
