.thumb-contenido {
    margin-bottom: 1%;
    margin-left: 0px;
    padding-left: 0px;
}

.btn-option {
    width: 100px !important;
}

[hidden] {
    display: none !important;
}

.btn-upload {
    margin-top: 10px;
}

.img-user {
    width: 100px;
    height: 100px;
}
