
.thumbnail {
    border-color: white;
}

.thumb {
    width: 200px;
    height: 100px;
}

.thumb-contenido {
    margin-bottom: 1%;
    margin-left: 0px;
    padding-left: 0px;
}

.btn-option {
    width: 100px !important;
}

[hidden] {
    display: none !important;
}

.btn-upload {
    margin-top: 10px;
}

.img-user {
    width: 50px !important;
    height: 50px !important;
}

.img-comment {
    width: 100px;
    height: 100px;
}

.btn-comment {
    min-width: 60px;
}
