.tabs {
    width: 100%;
    display: inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab-links li {
    margin: 0px 5px;
    float: left;
    list-style: none;
}

.tab-links a {
    padding: 9px 15px;
    display: inline-block;
    border-radius: 3px 3px 0px 0px;
    background: #fff;
    font-size: 16px;
    font-weight: 600;
    color: #4c4c4c;
    transition: all linear 0.15s;
}

.tab-links a:hover {
    background: #a7cce5;
    text-decoration: none;
}

li.active a, li.active a:hover {
    background: #7FB5DA;
    color: #4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
    padding: 15px;
    /*border-radius: 3px;*/
    /*box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);*/
    background-color: #fff;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
