{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
    Login
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card-login card-container">
            <img id="profile-img" class="profile-img-card"
                 src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" method="post"
                  action="{% url 'accounts:login' %}">
                {% csrf_token %}
                <span id="reauth-email" class="reauth-email"></span>
                <input
                    type="text" id="inputStdID"
                    class="form-control"
                    name="student_id"
                    placeholder="Student ID"
                    required autofocus>
                <input type="hidden" name="next" value="{{ next }}">
                <input
                    type="password"
                    name="password"
                    id="inputPassword"
                    class="form-control"
                    placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block btn-signin"
                        type="submit">Sign in
                </button>
                {% if is_error %}
                    <div class="alert alert-danger text-center" role="alert">
                        <strong>Ooops!</strong>
                        Wrong student id or password,please try again!
                    </div>
                {% endif %}
            </form><!-- /form -->
            <a href="{% url 'accounts:reset_password' %}" class="forgot-password">
                Forgot the password?
            </a>
        </div><!-- /card-container -->
    </div>
{% endblock %}
