{% extends 'accounts/user_page.html' %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/user_activity.css' %}">
{% endblock %}

{% block title %}
    {{ student.name }}'s activity
{% endblock %}

{% block user_content %}
    <input id="dataHolder" type="hidden"
           student-id="{{ student.student_id }}"
           thread-url="{{ student.get_thread_list_api }}">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Activity</h3>
        </div>
        <div class="panel-body" style="min-height: 500px">
            <div class="tabs">
                <ul class="tab-links">
                    <li class="active"><a href="#tab1">Threads</a></li>
                    <li><a href="#tab2">Comments</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab active">
                        <br/>
                        <strong>Threads created
                            by {{ student.name }}</strong><br/>
                        <ul id="threadPaginator"
                            class="pagination list-inline">
                            <li id="btnPrevThread"><span>&laquo;</span></li>
                            <li class="disabledThread"><span
                                id="pageCounterThread">Pagecount</span>
                            </li>
                            <li id="btnNextThread"><span>&raquo;</span></li>
                        </ul>
                        <div id="userThreadsContainer">
                        </div>
                    </div>
                    <div id="tab2" class="tab">
                        <br/>
                        <strong>Comments posted
                            by {{ student.name }}</strong><br/>
                        <ul id="commentPaginator"
                            class="pagination list-inline">
                            <li id="btnPrevComment"><span>&laquo;</span></li>
                            <li class="disabled"><span
                                id="pageCounterComment">Pagecount</span>
                            </li>
                            <li id="btnNextComment"><span>&raquo;</span></li>
                        </ul>
                        <div id="userCommentsContainer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'js/user_activity.js' %}"></script>
{% endblock %}

