{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Forum
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table class="table table-bordered card">
                    <thead>
                        <tr>
                            <th>Subforum</th>
                            <th>Last Post</th>
                            <th>Threads</th>
                            {% if user.is_superuser %}
                                <th>Drafts</th>
                            {% endif %}
                            <th>Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subforum in subforum_list %}
                            <tr class="">
                                <td class="td-forum-list first-column">
                                    <strong><a href="{{ subforum.get_detail_link }}">{{ subforum.title }}
                                    </a></strong>
                                </td>
                                <td class="td-forum-list">{{ subforum.get_last_post }}</td>
                                <td class="td-forum-list td-forum-text">{{ subforum.count_threads }}</td>
                                {% if user.is_superuser %}
                                    <td class="td-forum-list td-forum-text">{{ subforum.count_drafts }}</td>
                                {% endif %}
                                <td class="td-forum-list td-forum-text">{{ subforum.count_comments }}</td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
