{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    {{ subforum.title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-md-6">
                    <strong
                        style="font-size: 1.5em">{{ subforum.title }}
                    </strong>
                </div>
                <div class="pull-right" style="margin-right: 15px">
                    {% if subforum.count_drafts and user.is_superuser and not is_draft %}
                        <a class="btn btn-default"
                           href="{{ subforum.get_draft_list_link }}">
                            Drafts list
                        </a>
                    {% endif %}
                    {% if not is_draft %}
                        <a class="btn btn-info"
                           href="{% url 'threads:create' %}">
                            Create new
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <a id="thread_counter" data-href="{{ thread_list | length }}"></a>
        {% for thread in thread_list %}
            <div class="row">
                {% include 'subforums/thread-item.html' with thread=thread is_draft=is_draft %}
            </div>
        {% empty %}
            <h4>There are no thread</h4>
        {% endfor %}
        <div class="row pull-right" style="margin-right: 24px;">
            {% if thread_list.has_other_pages %}
                <ul class="pagination">
                    {% if thread_list.has_previous %}
                        <li><a
                            href="?page={{ thread_list.previous_page_number }}">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in thread_list.paginator.page_range %}
                        {% if thread_list.number == i %}
                            <li class="active"><span>{{ i }} <span
                                class="sr-only">(current)</span></span>
                            </li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if thread_list.has_next %}
                        <li><a
                            href="?page={{ thread_list.next_page_number }}">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
    {% include 'delete-confirm-modal.html' %}
    {% include 'delete-confirm-modal.html' %}
{% endblock %}

{% block script %}
    <script src="{% static 'js/publish.js' %}"></script>
{% endblock %}
